.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 33px;
    border: 5px solid rgb(44, 22, 6) ;
    border-radius: 12px;
}
button{
    font-size: 30px;
    background-color: blueviolet;
    width: 100px;
    height: 48px;
    border-radius: 20px;
}
.calculator{
    display: inline-block;
    border: 2px solid rgb(212, 7, 212);
    padding: 15px;
    background-color:rgb(240, 171, 171) ;
    border-radius: 12px;
}